.banner{
    background-color: $light-grey;
    padding: 20px 10px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-top: 105px;
}

@media only screen and (min-width: 768px) {
    .banner{
        margin-top: 80px;
    }
}