.container-products{
    color: white;
    margin: 30px auto 50px auto;
    width: 90%;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(2, minmax(350px, 1fr)); 
    grid-template-areas: 
    "item1 item1"
    "item2 item3"
    "item4 item4"
    "item5 item7"
    "item6 item6"
    "item8 item9"
    "item10 item11"
    "item12 item13"
    "item14 item16"
    "item15 item15"
    "item17 item18"
    "item19 item20"
    "item21 item22"
    "item23 item24";
    
    // ALGEMEEN CSS PRODUCT
    .product{
        .product-content{
            position: relative;
            line-height: 1.6;
            .black-dot{
                background-color: black;
                height: 76px;
                width: 76px;
                border-radius: 50%;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                p{
                    line-height: .9;
                    color: white;
                    font-size: 14px;
                }
            }
            .product-img{
                max-width: 160px;
                img{
                    width: 100%;
                    display: block;
                    margin: auto;
                }
            }
            .product-text{
                color: black;
                .product-title{
                    a{
                        font-size: 25px;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .product-info{
                    border-bottom: 1px $light-grey solid;
                    font-size: 12px;
                    padding: 3px 0;
                }
                .product-price-cart{
                    display: flex;
                    justify-content: space-between;
                    .product-price{
                        font-size: 14px;
                    }
                    .product-cart{
                        font-size: 24px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    // ALGEMEEN CSS IN DE HOOFDROL
    .in-de-hoofdrol{
        padding: 20px;
        position: relative;
        z-index: 1;
        h5{
            font-size: 12px;
            font-weight: normal;
            margin-bottom: 30px;
            z-index: 10;
        }
        h3{
            font-size: 24px;
            margin-bottom: 60px;
            z-index: 10;
        }
        a{
            color: white;
            font-weight: bold;
            text-decoration: underline;
            cursor: pointer;
            z-index: 10;
            &:hover{
                color: black;
                background-color: white;
                text-decoration: none;
            }
        }
        &::after{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: black;
            position: absolute;
            top: 0;
            left: 0;
            opacity: .2;
            z-index: -1;
        }
    }

    // ALGEMEEN PROMOTIE
    .promotie{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 36px;
            padding-top: 60px;
            margin-bottom: 20px;
        }
        p{
            margin-bottom: 50px;
        }
        button{
            background: none;
            padding: 10px 30px;
            color: $white;
            font-weight: 800;
            border: $white 4px solid;
            cursor: pointer;
            &:hover{
                background-color: $white;
                color: $black;
            }
        }
    }
    
    // ALGEMEEN CSS VERZAMELING
    .verzameling{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 20px 0;
        .verzameling-title{
            border: 2px solid $white;
            width: 140px;
            height: 140px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 100px;
        }
        a{
            color: $white;
            text-decoration: underline;
            cursor: pointer;
            &:hover{
                background-color: white;
                color: $black;
                text-decoration: none;
            }
        }
    }

    // VERSCHILLENDE ITEMS
    .item1{
        grid-area: item1;
        display: flex;
        gap: 15px;
        .item1A{
            width: 50%;
        }
        .item1B{
            width: 50%;
            text-align: center;
            background-color: $light-grey;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3{
                color: $dark-grey;
                margin-bottom: 30px;
                font-size: 24px;
                width: 60%;
                font-weight: lighter;
            }
            h4{
                width: 60%;
                a{
                    text-decoration: underline;
                    font-size: 18px;
                    color: $dark-grey;
                    &:hover{
                        background-color: $dark-grey;
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .item2{
        grid-area: item2;
        background-image: url('/img/banner-small.png');
        background-size: cover;
    }
    .item3{
        grid-area: item3;
    }
    .item4{
        grid-area: item4;
        background-image: url('/img/snow-fairy-promotie.jpg');
        background-size: cover;
        height: 67vh;
    }
    .item5{
        grid-area: item5;
        background-image: url('/img/afro-hair.jpg');
        background-size: cover;
    }
    .item6{
        grid-area: item6;
        background-color: black;
        h5{
            margin-bottom: 20px;
            z-index: 10;
        }
        h3{
            font-size: 24px;
            margin-bottom: 180px;
            z-index: 10;
        }
    }
    .item7{
        grid-area: item7;
        background-image: url('/img/body-sprays.jpg');
        background-size: cover;
    }
    .item8{
        grid-area: item8;
    }
    .item9{
        grid-area: item9;
        background-image: url('/img/zoom.jpg');
        background-size: cover;
    }
    .item10{
        grid-area: item10;
    }
    .item11{
        grid-area: item11;
    }
    .item12{
        grid-area: item12;
        background-image: url('/img/kerstpakket.jpg');
        background-size: cover;
    }
    .item13{
        grid-area: item13;
    }
    .item14{
        grid-area: item14;
    }
    .item15{
        grid-area: item15;
        background-image: url('/img/lush_policy.jpg');
        background-size: cover;
    }
    .item16{
        grid-area: item16;
    }
    .item17{
        grid-area: item17;
    }
    .item18{
        grid-area: item18;
        background-image: url('/img/lotion.jpg');
        background-size: cover;
    }
    .item19{
        grid-area: item19;
    }
    .item20{
        grid-area: item20;
    }
    .item21{
        grid-area: item21;
    }
    .item22{
        grid-area: item22;
        background-image: url('/img/masker.jpg');
        background-size: cover;
    }
    .item23{
        grid-area: item23;
    }
    .item24{
        grid-area: item24;
    }
}

/****************************MEDIA************************/
@media only screen and (min-width: 768px) {

    .container-products{
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: repeat(4, minmax(350px, 1fr)); 
        grid-template-areas: 
        "item1 item1 item2 item3"
        "item1 item1 item5 item7"
        "item8 item9 item6 item6"
        "item4 item4 item4 item4"
        "item10 item11 item12 item13"
        "item14 item15 item15 item16"
        "item21 item19 item20 item18"
        ". item23 item24 item22";

        //ITEM 1
        .item1{
            grid-area: item1;
            display: flex;
            flex-direction: column;
            gap: 15px;
            .item1A{
                width: 100%;
                .product-img{
                    img{
                        width: 300px;
                        display: block;
                        margin: auto;
                    }
                }
            }
            .item1B{
                width: 100%;
                height: 350px;
                text-align: center;
                background-color: $light-grey;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h3{
                    color: $dark-grey;
                    margin-bottom: 30px;
                    font-size: 24px;
                    width: 60%;
                    font-weight: lighter;
                }
                h4{
                    width: 60%;
                    a{
                        text-decoration: underline;
                        font-size: 18px;
                        color: $dark-grey;
                        &:hover{
                            background-color: $dark-grey;
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1100px) {

    .container-products{
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
        "item1 item1 item2 item3 item5"
        "item1 item1 item6 item6 item7"
        "item8 item9 item10 item11 item12"
        "item4 item4 item4 item4 item4"
        "item13 item14 item15 item15 item16"
        "item17 item18 item15 item15 item19"
        "item22 item23 item20 item21 item24";
        .item4{
            height: 73vh;
            h2{
                font-size: 72px;
            }
            p{
                font-size: 32px;
            }
        }
        .item15{
            height: 73vh;
            h2{
                font-size: 72px;
                text-align: center;
            }
            p{
                font-size: 32px;
            }
        }
    }
}